/* цвет основного текста серый #757575 */
/* вторичный цвет текста черный #212121*/
/* основной белый фон #FFFFFF */
/* вторичный фон #2F303A */
/* третий фон #F5F4FA */
/* лого черный #000000 */
/* акцент синий #2196F3 */
/* основной фон портфолио #F5F5F5 */
/* кнопки портфолио фон #F5F4FA */
/* список фон портфолио #EEEEEE */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: #f5f5f5;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: calc(24 / 14);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* header */

.header {
  background-color: var(--primary-white-color);
}
/* logo */

.logo {
  font-family: Raleway;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-begining {
  color: var(--accent-color);
}
.header-logo-last-part {
  color: #000000;
}
.footer-logo-last-part {
  color: var(--primary-white-color);
}
/* site nav */

.site-nav .site-nav-link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
}
.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus,
.site-nav .site-nav-link:active {
  color: var(--accent-color);
}
/* header links */

.header-list .header-link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.header-list .header-link:hover,
.header-list .header-link:focus,
.header-list .header-link:active {
  color: var(--accent-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer-list .footer-map-link {
  color: var(--primary-white-color);
}
.footer-list .footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-list .footer-map-link:hover,
.footer-list .footer-map-link:focus,
.footer-list .footer-map-link:active {
  color: var(--accent-color);
}
.footer-list .footer-link:hover,
.footer-list .footer-link:focus,
.footer-list .footer-link:active {
  color: var(--accent-color);
}
